:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --very-light-text: #766d6d;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 16px;
    --md: 18px;
    --lg: 20px
}

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

/* navbar */
nav{
    border-bottom: 1px solid var(--very-light-pink);
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

/* for mobile navbar */
.mobile-menu-button{
    display: none;
}

.logo{
    width: 150px;
}

.navbar-left{
    display: flex;
}

.navbar-left ul,
.navbar-right ul{
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
}

.navbar-left ul li a,
.navbar-right ul li a{
    text-decoration: none;
    border: 1px solid var(--white);  
    border-radius: 8px;
    color: var(--very-light-text);
    padding: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover{            
    border: 1px solid var(--hospital-green);  
    color: var(--hospital-green);
}

.navbar-email{
    color: var(--very-light-text);
    cursor: pointer;
    font-size: var(--sm);
    margin-right: 50px;
}

.navbar-shopping-card{
    position: relative; 
}

.navbar-shopping-card div{
    align-items: center;
    background-color: var(--hospital-green);
    border-radius: 50%;
    display: flex;
    font-size: var(--sm);
    font-weight: bold;
    justify-content: center;
    height: 16px;
    position: absolute;
    right: -5px;
    top: -5px;
    width: 16px;
}


/* desktop menu */

.desktop-menu{
    background-color: var(--white);
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    height: auto;
    padding: 20px 20px 0 20px;
    position: absolute;
    right: 40px;
    top: 80px;
    width: 150px;
    z-index: 10;
}

.desktop-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.desktop-menu ul li{
    text-align: end;
}

.desktop-menu ul li:last-child{
    border-top: 1px solid var(--very-light-pink) ;
    padding-top: 10px;
}

.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2){
    font-weight: bold;
}

.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}

.desktop-menu ul li a{
    color: var(--black);
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
}

/* mobile menu */

.mobile-menu{
    background-color: var(--white);
    display: grid;
    justify-content: space-between;
    height: 100vh;
    padding: 24px;
    position: absolute;
    top: 80px;
}

.mobile-menu ul{
    list-style: none;
    margin: 24px 0 0;
    padding: 24px 0 0;
}

.mobile-menu ul:nth-child(1){
    border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li{
    margin-bottom: 24px;
}
        
.mobile-menu a{
    color: var(--black);
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
}

.mobile-menu .email{
    font-size: var(--sm);
    font-weight: 100 !important
}

.mobile-menu ul:last-child li:last-child a{
    color: var(--hospital-green);
    font-size: var(--sm);
}

.hidden{
    display: none;
}

/* Shopping Cart */

.product-detail{
    background-color: var(--white);
    border: 1px solid var(--very-light-pink);
    box-sizing: border-box;
    padding: 24px;
    position: absolute;
    right: 0;
    width: 360px;
}

.title-container {
    display: flex;
}

.title-container img:nth-child(1){
    transform: rotate(180deg);
}

.title-container img{
    align-self: center;
    background-color: var(--white);
    border-radius: 50%;
    cursor: pointer;
    height: 14px;
    margin-right: 14px;
    width: 14px;
} 

.aside-title {
    font-size: var(--lg);
    font-weight: bold;
}

.my-order-container{
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    width: 360px;
}

.my-order-content{
    display: flex;
    flex-direction: column;
}

.order{
    align-items: center;
    background-color: var(--text-input-field);
    border-radius: 8;
    display: grid;
    gap: 16px;
    grid-template-columns: auto 1fr;
    margin-bottom: 24px;
    padding: 0 24px;
}

.order p{
    font-weight: bold;
    text-align: end;
}

.aside-product-info > img:nth-child(2){
    border-radius: 0 0 20px 20px;
    height: 360px;
    object-fit: cover;
    width: 100%;
}

.aside-product-info p{
    margin-top: 0;
}

.aside-product-info p:nth-child(3){
    font-size: var(--md);
    font-weight: bold;
    margin-bottom: 4px;
    
}

.aside-product-info p:nth-child(4){
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-bottom: 36px;
}

.aside-product-info p:nth-child(5){
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-bottom: 36px;
}

.add-to-cart-button{
    align-items: center;
    display: flex;
    justify-content: center;
}

.shopping-cart{
    align-items: center;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 20px;
}

.shopping-cart figure{
    margin: 0;
}

.shopping-cart figure img{
    border-radius: 10px;
    height: 80px;
    width: 80px;
}

.shopping-cart p:nth-child(2){
    color: var(--very-light-pink);
}

.shopping-cart p:nth-child(3){
    font-weight: bold;
    font-size: var(--md);
}

.primary-button{
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: var(--md);
    width: 100%;
    font-weight: bold;
    height: 50px;
}

.cards-container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, 240px);
    margin-top: 30px;
    place-content: center;
}

.product-card{
    width: 240px;
}

.product-card img{
    border-radius: 20px;
    height: 240px;
    object-fit: cover ;
    width: 100%;
}

.producto-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.producto-info figure{
    margin: 0 ;
}

.producto-info figure img{
    height: 35px;
    width: 35px;
}

@media (max-width: 740px){
    .mobile-menu-button{
        display: block;
    }

    .navbar-left ul,
    .navbar-email,
    .desktop-menu{
        display: none;
    }

    .product-detail{
        width: 100%;
    }
}


@media(min-width: 741px){
    .mobile-menu{
        display: none;
    }
}
